function treeless() {
    tree -aC -I '.git|env|.snakemake|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

function vpn() {
    if pgrep -x "openfortivpn" > /dev/null
        then
            echo "Disconnecting";
            sudo pkill openfortivpn;
        else
            sudo echo "Check your phone";
            sudo openfortivpn --use-syslog & >/dev/null 2>&1;
    fi;
}

